{% extends 'bases/layout.html' %}
{% block content %}
  <section id="about" class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <h2 class="mb-4">About Us</h2>
          <img src="https://placehold.co/600x400" class="img-fluid mb-4" alt="About Us Image" />
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque lectus nisi, in varius felis congue non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
          <p>Integer nec odio in dui viverra finibus. Nulla facilisi. Sed nec fermentum lectus. In hac habitasse platea dictumst. Nunc auctor justo et quam molestie, quis eleifend mi posuere.</p>
          <p>Donec at libero aliquet, tincidunt metus ac, pellentesque enim. Fusce malesuada eros nec felis fermentum, non malesuada lorem varius. Sed a odio vel libero ultricies dictum.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
