.section {
    padding: 60px 0;
}

h1,
h2,
h3 {
    color: var(--gold);
}

p {
    color: white;
}

.service-card {
    border: none;
    background-color: transparent;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.card-body {
    background-color: var(--dark-purple);
}

.card-title {
    color: var(--gold);
    font-weight: bold;
}

.card-text {
    color: white;
}